.featureTabContainer {
  width: 1200px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  height: 416px;
  gap: 100px;

  transition: all 0.5s;
}

.featureTabContainer h3 {
  font-size: 30px;
  font-weight: 500;
  padding-bottom: 20px;
}

.featureTabContainer p {
  padding-bottom: 30px;
}

.imageContainer img {
  margin-inline: auto;
}
