.featureSectionContainer {
  /* padding-bottom: 50px; */
}

.featureSectionContainer h2,
.featureSectionContainer > p {
  text-align: center;
}

.featureSectionContainer h2 {
  font-size: 30px;
  font-weight: 500;
  padding-bottom: 20px;
}

.featureSectionContainer > p {
  margin-inline: auto;
  max-width: 45ch;
  padding-bottom: 50px;
}

.tabsSection {
  display: flex;
  justify-content: center;
  margin-inline: auto;
  padding-bottom: 75px;
}

.tabsButton {
  border-bottom: 1px solid var(--grayish-blue);
  color: var(--grayish-blue);
  padding: 20px 40px;
  width: 235px;
  transition: all 0.3s;

  position: relative;
  z-index: 1;
}

.tabsButton:hover {
  color: var(--soft-red);
}

/* ACTIVE TAB STYLE */

.active {
  color: inherit;
}

/* TABS SECTION */

.tabsButton.active::after {
  position: absolute;
  z-index: 2;
  content: "";
  width: 235px;
  height: 3px;
  bottom: -1px;
  left: 0;
  background-color: var(--soft-red);
}

.featuresTabsSection {
  display: flex;
  position: relative;
}

.featuresTabsSection > div {
  position: absolute;
}

.featuresTabsSection p {
  max-width: 40ch;
}

.featureOneContainer {
}

.featureTwoContainer {
  /* left: 1200px; */
}

.featureThreeContainer {
  /* left: 2400px; */
}
