.footerContainer {
  /* background-color: var(--dark-blue); */
  padding-block: 20px;
  max-width: 1140px;
  padding-inline: 30px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;
  z-index: 1;
}

.footerContainer::before {
  position: absolute;
  content: "";
  top: 0;
  right: -500px;
  bottom: 0;
  left: -500px;
  background-color: var(--dark-blue);
  z-index: -1;
}

.links {
  display: flex;
  gap: 40px;
}

.links ul a {
  transition: color 0.3s;
}

.links ul a:hover {
  color: var(--soft-red);
}

.footerContainer ul {
  color: white;
  display: flex;
  align-items: center;
  list-style-type: none;
  gap: 40px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.socialsContainer {
  display: flex;
  gap: 30px;
  align-items: center;
}

.socialsContainer svg {
  fill: white;
  transition: all 0.3s;
}

.socialsContainer a:hover svg {
  fill: var(--soft-red);
}

@media screen and (min-width: 860px) {
}
