.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  padding-block: 50px;
  color: var(--grayish-blue);
}

.logo button {
  background-color: transparent;
  border: transparent;
}

.links ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  gap: 40px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.links ul a {
  transition: color 0.3s;
}

.links ul a:hover {
  color: var(--soft-red);
}

.links ul button {
  text-transform: uppercase;
  letter-spacing: 1px;
}

.hamburgerButton {
  display: none;
}

@media screen and (max-width: 750px) {
  .hamburgerButton {
    display: block;
  }

  .links ul {
    position: absolute;
    right: 50%;
    left: 50%;
    transform: translateX(-50%);
    flex-direction: column;
  }
}
